.btn {
	min-height: 50px;

	border: 1px solid $color-border-default;
	border-radius: 0.3em;

	font-family: inherit;
	font-size: 14px;
	font-weight: inherit;
	color: $color-text-default;

	cursor: pointer;

	&.btn-primary {
		border-color: $color-primary;
		background-color: $color-primary;
		color: #fff;
	}

	&.btn-secondary {
		border-color: $color-secondary;
		background-color: $color-secondary;
		color: #fff;
	}

	&.btn-success {
		border-color: $color-success;
		background-color: $color-success;
		color: #fff;
	}

	&.btn-danger {
		border-color: $color-danger;
		background-color: $color-danger;
		color: #fff;
	}

	> .fa:first-child {
		padding: 0 5px;
		font-size: 1.3em;
		vertical-align: middle;
	}
}
