.input-addon {
	display: table;

	&.input-addon-primary {
		input, .addon { border-color: $color-primary };
		.addon {
			color: #fff;
			background-color: $color-primary;
		}
	}

	&.input-addon-secondary {
		input, .addon { border-color: $color-secondary };
		.addon {
			color: #fff;
			background-color: $color-secondary;
		}
	}

	&.input-addon-success {
		input, .addon { border-color: $color-success };
		.addon {
			color: #fff;
			background-color: $color-success;
		}
	}

	&.input-addon-danger {
		input, .addon { border-color: $color-danger };
		.addon {
			color: #fff;
			background-color: $color-danger;
		}
	}
}

.input-addon input {
	display: table-cell;

	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

.input-addon .addon {
	display: table-cell;
	padding: 0 10px;
	width: 1%;

	border: 1px solid $color-border-default;
	border-right: 0;
	border-top-left-radius: 0.3em;
	border-bottom-left-radius: 0.3em;

	vertical-align: middle;
	text-align: center;
	color: #999999;
}
