input[type="text"],
input[type="password"],
input[type="number"],
input[type="email"],
input[type="text"],
textarea,
select {
	height: 50px;
	padding-left: 10px;

	border-radius: 0.3em;
	border: 1px solid $color-border-default;

	font-size: inherit;
	font-family: inherit;
	font-weight: inherit;
}
