.navbar {
	position: relative;
	min-height: 75px;
	width: 100%;
	z-index: 1;

	background-color: #fff;

	border-bottom: 1px solid #ccc;

	&.navbar-bottom {
		position: fixed;
		bottom: 0;

		border-top: 1px solid #ccc;
	}
}

.navbar-items, .navbar-items li {
	width: 100%;
	float: left;
	display: block;
	position: relative;
}

.navbar-items, .navbar-items li {
	width: auto;
}

.navbar-item {
	margin: 10px 0;
	padding-left: 20px;
	padding-right: 20px;

	border-right: 1px solid $color-border-default;
}

.navbar-link {
	@extend .navbar-item;
	border: none;
}

.navbar-text {
	@extend .navbar-link;
	line-height: 55px;
}

.navbar-button {
	@extend .navbar-link;
	padding-left: 3px;
	padding-right: 3px;
}

.navbar-icon {
	padding-top: 5px;
	padding-bottom: 5px;

	font-size: 40px;
	color: $color-secondary;
}

.navbar-icon a {
	color: $color-secondary;
}

.navbar-logo {
	padding-top: 5px;
	padding-bottom: 5px;
}

.navbar-locale {
	padding-top: 10px;
	padding-bottom: 10px;
}

.navbar-user {
	color: #999;
}

.navbar-user img {
	width: 58px;
	padding: 2px;
	float: left;

	border-radius: 50%;

	border: 2px solid $color-secondary;
}

.navbar-item-premium {
	padding: 15px;

	border-radius: 0.3em;

	background: linear-gradient(135deg, #55c4f5 0%, $color-secondary 50%, #5dd784 100%);
	opacity: 0.8;

	color: #fff;
}

.navbar-item-logo {
	height: 38px;
}

.navbar-item-username {
	margin-top: 18px;
	margin-left: 8px;
	float:right;
}

.navbar-actions {
	width: 80%;
	max-width: 1280px;
	margin: auto;

	font-size: 1.33em;
	font-weight: 400;
}
