.quote {
	@extend .table;

	margin-left: 1.5%;
	text-align: right;

	td, th {
		padding: 8px 5px 3px 5px;
	}

	tbody > tr:first-child .quote-cell {
		border-top: 1px solid $color-secondary;
	}

	tr {
		td:first-child, th:first-child {
			text-align: left;
		}
	}
}

.quote-cell {
	border: 1px solid $color-border-default;
}

td.quote-cell-subitem {
	border-left: 1px solid $color-border-default;
	padding-left: 30px;
}

.quote-cell-new {
	border-right: 0;
}

.quote-cell-subtotal {
	border-left: 0;
}

.quote-button {
	padding: 0;
	border: 0 none transparent;
}

.quote-col-items { width: 40%; }
.quote-col-quantity { width: 1%; }
.quote-col-unit { width: 11%; }
.quote-col-rate, .quote-col-total { width: 19%; }
.quote-col-button { width: 3% }

.quote-cell-is-package {
	background-color: #f8f8f8 !important;
	border-bottom-color: red;
}
