<header id="navbar" class="navbar">
	<nav class="pull-left">
		<ul class="navbar-items">
			<li class="navbar-item navbar-icon">
				<a href="#"><span class="fa fa-bars"></span></a>
			</li>
			<li class="navbar-link navbar-logo">
				<a href="#"><img class="navbar-item-logo" src="images/logo.png" alt="brand logo"></a>
			</li>
			<li class="navbar-link navbar-locale">
				<a href="#"><img src="images/en-US.png" alt=""></a>
				<a href="#"><img src="images/pt-BR.png" alt=""></a>
			</li>
		</ul>
	</nav>
	<nav class="pull-right">
		<ul class="navbar-items">
			<li class="navbar-item">
				<div class="navbar-item-premium">
					<img src="images/star.png" alt="Premium star">
					Go <b>Premium</b>
				</div>
			</li>
			<li class="navbar-item navbar-user">
				<img src="images/avatar.png" alt="User avatar">
				<span class="navbar-item-username">Luiz Augusto</span>
			</li>
			<li class="navbar-item navbar-icon">
				<a href="#"><span class="fa fa-question"></span></a>
			</li>
			<li class="navbar-item navbar-icon">
				<a href="#"><span class="fa fa-sign-out"></span></a>
			</li>
		</ul>
	</nav>
</header>

<main id="content" ui-view></main>
