@import "gridle/gridle";

@include gridle_setup((
	context: 12,
	gutter-width: 10,
	direction: ltr
));

@include gridle_generate_classes ();

#content {
	margin-bottom: 80px;
}

#main {
	@include gridle_container();
	@extend .panel;

	position: relative;
	width: 80%;
	max-width: 1280px;
	margin: 30px auto;
}
