<div id="main">
	<form name="quoteform">
		<div class="grid-6 input-addon input-addon-success">
			<span class="addon fa fa-file-o"></span>
			<input type="text" class="grid-11" name="title" placeholder="Quote title" ng-model="quote.model.title">
		</div>

		<div class="grid-6 grid-parent input-addon input-addon-primary">
			<span class="addon fa fa-user"></span>
			<input type="text" class="grid-11" name="clientname" placeholder="Client name" ng-model="quote.model.client.name">
		</div>

		<br><br><br>

		<div class="grid-12 grid-parent">
			<table class="quote">
				<colgroup>
					<col class="quote-col-items">
					<col class="quote-col-quantity">
					<col class="quote-col-unit">
					<col class="quote-col-rate">
					<col class="quote-col-total">
					<col class="quote-col-button">
				</colgroup>
				<thead>
					<tr>
						<th>Items</th>
						<th>Quant.</th>
						<th>Unit</th>
						<th>Rate</th>
						<th>Total</th>
						<th class="quote-button"></th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat-start="package in quote.model.items | filter: {isPackage: true}" class="quote-cell-is-package">
						<td class="quote-cell">
							{{ package.title }}
						</td>
						<td class="quote-cell">
							{{ package.quantity }}
						</td>
						<td class="quote-cell">
							-
						</td>
						<td class="quote-cell">
							{{ package.rate }}
						</td>
						<td class="quote-cell">
							{{ package.total }}
						</td>
						<td class="quote-button" ng-show="false" ng-click="quote.removeItem($index)">
							<span class="fa fa-minus-circle delete"></span>
						</td>
					</tr>

					<tr ng-repeat-end ng-repeat="subitem in package.items" class="quote-cell-is-package">
						<td class="quote-cell-subitem">
							<input type="checkbox" ng-model="subitem.active">
							{{ subitem.title }}
						</td>
						<td class="quote-cell">
							{{ subitem.quantity }}
						</td>
						<td class="quote-cell">
							{{ subitem.unity }}
						</td>
						<td class="quote-cell">
							{{ subitem.rate }}
						</td>
						<td class="quote-cell">{{ subitem.total }}</td>
						<td class="quote-button" ng-show="false">
							<span class="fa fa-minus-circle delete"></span>
						</td>
					</tr>

					<tr ng-repeat="item in quote.model.items | filter: {isPackage: false}" ng-mouseenter="quote.itemHover = item" ng-mouseleave="quote.itemHover = null">
						<td class="quote-cell">
							<a href="#" editable-text="item.title"></a>
						</td>
						<td class="quote-cell">
							<a href="#" editable-text="item.quantity"></a>
						</td>
						<td class="quote-cell">
							<select name="itemunit" ng-model="item.unity" ng-options="unit for unit in quote.units"></select>
						</td>
						<td class="quote-cell">
							<a href="#" editable-text="item.rate"></a>
						</td>
						<td class="quote-cell">{{ item.total }}</td>
						<td class="quote-button" ng-show="item == quote.itemHover" ng-click="quote.removeItem($index)">
							<span class="fa fa-minus-circle delete"></span>
						</td>
					</tr>

					<tr>
						<td class="quote-cell quote-cell-new" colspan="4">
							<button class="btn btn-success" type="button" ng-click="quote.addItem()"><span class="fa fa-plus"></span>Add line</button>
						</td>
						<td class="quote-cell quote-cell-subtotal" colspan="1">
							<b>Subtotal: $ {{ quote.model.subtotal | currency:''}}<b>
						</td>
						<td class="quote-button"></td>
					</tr>
				</tbody>
			</table>
		</div>
	</form>
</div>
<div class="navbar navbar-bottom">
	<div class="navbar-actions">
		<nav class="pull-left">
			<ul class="navbar-items">
				<li class="navbar-button">
					<button class="btn btn-secondary" type="button"><span class="fa fa-angle-up"></span> Packages saved</button>
				</li>
				<li class="navbar-button">
					<button class="btn btn-success" type="button"><span class="fa fa-angle-up"></span> Payment methods</button>
				</li>
				<li class="navbar-button">
					<button class="btn btn-danger" type="button"><span class="fa fa-angle-up"></span> Taxes and discounts</button>
				</li>
			</ul>
		</nav>
		<nav class="pull-right">
			<ul class="navbar-items">
				<li class="navbar-text">total: $ {{ quote.model.total | currency:'' }}</li>
				<li class="navbar-button">
					<button class="btn btn-primary" type="button" ng-click="quote.create()"><span class="fa fa-angle-right"></span> Next</button>
				</li>
			</ul>
		</nav>
	</div>
</div>
