body {
	font-family: 'Roboto', sans-serif;
	font-size: 1.125em;
	font-weight: 300;

	background-color: #fff;
	background-image: url('/images/bg.png');

	color: $color-text-default;
}

img {
	max-width: 100%;
	max-height: 100%;
}

a {
	color: $color-link-default;
	text-decoration: none;
}

a:hover {
	color: $color-link-hover-default;
	text-decoration: underline;
}
