*, *:before, *:after {
	box-sizing: border-box;
}

a {
	color: inherit;
}

body {
	margin: 0;
}

ul {
	margin: 0;
	padding: 0;
}

button {
	border: none;
	background: none;
}

button:focus {
	outline: none;
}

a:focus,
input:focus,
textarea:focus,
select:focus {
	outline: none;
}
