/* Colors */
$color-primary: #54C3F4;
$color-secondary: #00CFC5;
$color-success: #5DD784;
$color-danger: #FF7076;

$color-border-default: #E6E6E6;
$color-text-default: #606060;

$color-link-default: #428bca;
$color-link-hover-default: #2a6496;

/* Navbar */
$navbar-height: 75px;
